*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* HEADER */

header {
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo-container {
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
  align-items: center;
}

.logo-title {
  margin: 0;
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
  font-size: 0.87rem;
  font-style: normal;
  font-weight: 700;
}

.logo {
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 1.5em;
  list-style-type: none;
}

.menu-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #090909;
  text-align: right;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* HERO SECTION */

.hero-post {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.31) 0%,
      rgba(0, 0, 0, 0.31) 100%
    ),
    url(/images/article-image-hero.png), lightgray;
  padding: 1.25em;
  padding-top: 5em;
}

.hero-post-date {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5em;
}

.hero-post-title {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.hero-post-preview {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 0.5em;
}
