*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* HEADER */

header {
  padding: 1.25em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.logo-container {
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
  align-items: center;
}

.logo-title {
  margin: 0;
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
}

.logo {
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 1.5em;
  list-style-type: none;
}

.menu-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.35em;
  color: #090909;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  line-height: 0.5em;
}

/* HOMEPAGE HERO SECTION */

.hero-post {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.31) 0%,
      rgba(0, 0, 0, 0.31) 100%),
    url(/images/article-image-hero.png),
    lightgray 0px -255.741px / 100% 188.396% no-repeat;
  padding: 1.25em;
  padding-top: 5em;
  background-size: cover;
  cursor: pointer;

}

.hero-post-link {
  text-decoration: none;
}

.hero-post-date {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 0.5em;
}

.hero-post-title {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.hero-post-preview {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 0.5em;
}

/* HOMEPAGE ARTICLE */
.container {
  text-align: center;
  margin: 1.25em 0;
}

.article-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.25em 0;
  justify-content: center;
  margin: 0;
  text-align: start;
}

.article-image {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-date {
  display: block;
  margin: 0.875em 0 0.5em;
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.article-title {
  margin: 0;
  color: #141414;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.article-body-preview {
  color: #505050;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.view-more-btn {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  background-color: #fff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

/* FOOTER */

footer {
  background: #202020;
  text-align: center;
  padding: 2em;
}

.footer-title {
  color: #ececec;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.03em;
}

.footer-copyright {
  color: #d7d7d7;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/* BLOG */

.blog-container {
  margin: 1.25em;
}

.blog-date {
  color: #151515;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}

.blog-title {
  color: #151515;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.blog-subtitle {
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2em;
}

.blog-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.blog-content {
  margin: 2em 0 3em;
}

.blog-content p {
  color: #151515;
  font-size: 1rem;
  font-weight: 400;
}

.blog-content strong {
  color: #151515;
  font-size: 1rem;
  font-weight: 700;
}

/* RECENT POSTS */

.recent-title {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ABOUT */

.about-heading {
  color: #151515;
  font-size: 2rem;
  font-weight: 700;
  padding-right: 1em;
}

/* MEDIA QUERIES */

@media (min-width: 469px) {
  .hero-post {
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.31) 0%,
        rgba(0, 0, 0, 0.31) 100%),
      url(/images/blog-image-hero.png),
      lightgray 0px -670.239px / 100% 296.448% no-repeat;
    padding: 18em 20em 4em 3em;
    background-size: cover;
  }

  .hero-post-preview {
    margin-right: 20em;
  }

  .blog-container.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 0 1.5em;
    margin: 0 5em;
  }

  .article-image {
    max-height: 330px;
   
  }

  .view-more-btn {
    grid-column: 1/-1;
  }

  .recent-title {
    grid-column: 1/-1;
    margin: 0;
  }

  .self-container {
    display: flex;
    gap: 2em;
  }

  .about-heading {
    margin-right: 4em;
  }

  .blog-subtitle {
    margin-right: 4em;
  }

  .blog-header {
    margin: 0 5em;
  }

  .blog-content {
    padding: 0 2em;
  }

  .blog-image {
    max-height: 500px;
  }
}